@import "tailwindcss";

:root {
  --background: #EDE4C2;
  --foreground: #1A3A18;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-anchor: #1A3A18;
  --color-brand: #F5824A;
  --color-surface: #EDE4C2;
  --color-muted: #5A3A20;
  --color-reserve: #A03A13;
  --color-card: #FFFFFF;
  --color-border-yellowstone: #DDD4B2;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}